@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <div style="background-image: url('https://images.pexels.com/photos/3943723/pexels-photo-3943723.jpeg');
                background-size: cover;
                background-position: center bottom;
                background-repeat: no-repeat;
                height: 60vh;
                width: 100%">
        <h1 class="text-center text-light bg-dark">Controle de Finanças Pessoais</h1>
    </div>
</div>
