@{
    ViewData["Title"] = "Sistema de Controle Financeiro";
}
<h1>@ViewData["Title"]</h1>

<p>Trabalho desenvolvido para a Disciplina Desenvolvimento de Sistemas II, utilizando ASP.NET Core e padrão MVC do C#
</p>
<h2>Equipe</h2>
<ul class="list-group list-group-flush">
    <li class="list-group-item">Elisete Vidotti</li>
    <li class="list-group-item">Hudson Duarte</li>
    <li class="list-group-item">João Lucas Andrade</li>
    <li class="list-group-item">Jorge Valois</li>
    <li class="list-group-item">Luiz Gonzaga</li>
</ul>
<a class="btn btn-info" href="https://github.com/TCC-CIMATEC/Controle_Financeiro" target="_blank">
    Repositório do Projeto
</a>
