@model controleFinanceiro.Models.Financa

@{
    ViewData["Title"] = "Create";
}

<h1>Nova Transação</h1>
<hr />
<div class="row">
    <div class="col-md-12">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="row">
                <div class="col form-group">
                    <label asp-for="Valor" class="control-label"></label>
                    <input asp-for="Valor" class="form-control" />
                    <span asp-validation-for="Valor" class="text-danger"></span>
                </div>
                <div class="col form-group">
                    <label asp-for="DataFinanca" class="control-label"></label>
                    <input asp-for="DataFinanca" class="form-control" />
                    <span asp-validation-for="DataFinanca" class="text-danger"></span>
                </div>
            </div>
            <div class="row">
                <div class="col form-group">
                    <label asp-for="UsuarioId" class="control-label"></label>
                    <select asp-for="UsuarioId" class="form-control" asp-items="ViewBag.UsuarioId"></select>
                </div>
                <div class="col form-group">
                    <label asp-for="ModalidadeId" class="control-label"></label>
                    <select asp-for="ModalidadeId" class="form-control" asp-items="ViewBag.ModalidadeId"></select>
                </div>
            </div>
            <div class="row">
                <div class="col form-group">
                    <label asp-for="CategoriaId" class="control-label"></label>
                    <select asp-for="CategoriaId" class="form-control" asp-items="ViewBag.CategoriaId"></select>
                </div>
                <div class="col form-group">
                    <label asp-for="TipoId" class="control-label"></label>
                    <select asp-for="TipoId" class="form-control" asp-items="ViewBag.TipoId"></select>
                </div>
            </div>

            <div class="form-group">
                <input type="submit" value="Salvar" class="btn btn-info" />
                <div class="btn btn-light">
                    @Html.ActionLink("Voltar", "Index", "Usuario")
                </div>
            </div>
        </form>
    </div>
</div>
